<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
<div id="app">
<!--@submit.prevent="reg" 防止reg方法 自動送出表單-->
    <form @submit.prevent="reg">
        <!--v-model雙向綁定,會把數據綁定到下面的data裡面的k值-->
        修改用戶名:<input type="text" v-model="username" placeholder="修改的用戶名">
        <br>
        修改email:<input type="text" v-model="email" placeholder="修改的email">
        <button type="submit">修改</button>

        <!--單向綁定-->
        <div style="color: red">{{info}}</div>
        <br>
        <div style="color: red">{{countdown}}</div>
    </form>
</div>
</body>
<!--引入Vue3-->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!--引入Axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    //一個頁面只需要一個createApp
    const {createApp} = Vue;
    createApp({
        //data 裡可以放當前頁面的前端變數名稱
        data() {
            return {
                username: "",     //雙向綁定,前端變數，會掛到 this.account，給 v-model 用,到axios使用的話就要用this.
                email: "",    //雙向綁定,前端變數，會掛到 this.password，給 v-model 用,到axios使用的話就要用this.
                info: "",        //單向綁定,前端變數，會掛到 this.info，給 v-model 用,到axios使用的話就要用this.
                countdown: ""    //倒數秒數,前端變數，會掛到 this.countdown，給 v-model 用,到axios使用的話就要用this.
            }
        },
        //一個createApp只能有一個 methods,但裡面可以有很多方法xxx(){},xxx(){}
        methods: {
            reg() {
                axios.post("/user/update", {
                    username: this.username,   //後端屬性綁定前端
                    email: this.email, //後端屬性綁定前端
                }).then(res => {
                    this.info = "修改成功"
                    //三秒後消失的方法
                    this.countdown = 3; // 初始化 3 秒

                    let timer = setInterval(() => {
                        this.countdown--;
                        if (this.countdown <= 0) {//判斷當秒數小於等於0時,將插植表達式 單向綁定數據為空
                            clearInterval(timer);//清除
                            this.info = "";//設置為空
                            this.countdown="";//將時間設置為空
                        }
                    }, 1000);
                }).catch(err => {
                    this.info = "修改失敗"
                    //三秒後消失的方法
                    this.countdown = 3; // 初始化 3 秒

                    let timer = setInterval(() => {
                        this.countdown--;
                        if (this.countdown <= 0) {//判斷當秒數小於等於0時,將插植表達式 單向綁定數據為空
                            clearInterval(timer);//清除
                            this.info = "";//設置為空
                            this.countdown="";//將時間設置為空
                        }
                    }, 1000);
                });
            }
        }//reg結束
    }).mount("#app");//createApp結束
</script>

</html>